
body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 5fr / 2fr 8fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content-area"
    ;

}

.sidebar {
    grid-area: sidebar;
    background-color: azure;
}
.header {
    grid-area: header;
    background-color: darkolivegreen;
}
.content-area {
    grid-area: content-area;
    background-color: lemonchiffon;
}