
body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 5fr / 2fr 8fr;
    grid-template-areas: 
        "sidebar header"
        "sidebar content-area"
    ;
    border: 1px solid gray;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sidebar {
    grid-area: sidebar;
    background-color: #283618;
    color: #fefae0;
    display: grid;
    grid-template: 1fr 5fr 5fr / 1fr;

    height: 100vh;
    padding: 0 10px;
}
.sidebar a {
    text-decoration: none;
    color: #fefae0;
}
.sidebar-header {
    grid-row: 1 / 2;

    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;

    padding: 5px;
    
}
.sidebar-header .logo {
    height: 1rem;
}
.sidebar-header .logo-main {
    height: 2.5rem;
}
.sidebar-links--top {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    padding-bottom: 1rem;
}
.sidebar-links--bottom {
    display: grid;
    grid-template-rows: repeat(6, 1fr);

    padding-top: 30px;
    border-top: 1px solid lightslategray;
}
.link {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    place-items: center;
}
.link h4 {
    justify-self: start;
}


.header {
    grid-area: header;
    /* background-color: darkolivegreen; */

    display: grid;
    grid-template-rows: 1fr 1fr;
}
.header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.header-menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
}
.header-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}
.content-area {
    grid-area: content-area;
    /* background-color: lemonchiffon; */

    display: grid;
    grid-template: 1fr / 2.5fr 1fr;
}
.project-container {
    margin: 0 20px;
}
.project-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(300px, 1fr);
    gap: 20px;

}

.project-card {
    /* background-color: tan; */
    padding: 5px 20px;
}

.news-area-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-right: 20px;
}
.announcement-section,
.trending-section {
    display: grid;
    grid-template-rows: 1fr 6fr;
}
.announcement-container,
.trending-container {
    /* background-color: aliceblue; */
}
